

  <div class="logo-section">
    <div class="logo-text">Carolina Colonia<br></div>
  </div>
  <div class="nav-bar">
    <a href="/products" class="link-block w-inline-block">
      <div class="nav-bar-link">PRODUCTOS</div>
    </a>
    <a href="/home" class="link-block w-inline-block">
      <div class="nav-bar-link">HOME</div>
    </a>
    <a href="#" class="link-block w-inline-block">
      <div class="nav-bar-link">HISTORIA</div>
    </a>
    <a href="#" class="link-block w-inline-block">
      <div class="nav-bar-link">CONTACTANOS</div>
    </a>
    <a href="#" class="link-block w-inline-block">
      <div class="nav-bar-link">FICHA TECNICA</div>
    </a>
  </div>
 <div>
<div class="container col-md-4">



  <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
    <div class="mb-3">
      <div class="mb-5"></div>
      <div class="mb-3">
        <div class="form-group">
          <label for="exampleInputEmail1">Producto</label>
          <input [(ngModel)]="product.productName"
                name="productName"
                type="email" 
                class="form-control" 
                id="exampleInputEmail1" 
                placeholder="nombre del producto"
                >
                
        </div>
      </div>
  
    
  
      <div class="mb-3">
        <div class="form-group">
          <label for="exampleInputPassword1">Description</label>
          <input 
                 type="text" 
                 class="form-control" 
                 id="exampleInputPassword1" 
                 placeholder="description del producto"
                 [(ngModel)]="product.description"
                 name="description">
                 
        </div>
      </div>


      <div class="mb-3">
        <div class="form-group">
          <label for="exampleInputPassword1">Cantidad</label>
          <input type="number" 
                 class="form-control" 
                 id="exampleInputPassword1" 
                 placeholder="cantidad total en inventario"
                 [(ngModel)]="product.unitsInStock"
                 name="unitsInStock"
                 >
                 
        </div>
      </div>



      <div class="mb-3">
        <div class="form-group">
          <label for="exampleInputPassword1">Precio</label>
          <input type="number"
                 min="0.00"
                 class="form-control" 
                 id="exampleInputPassword1" 
                 placeholder="cantidad total en inventario"
                 [(ngModel)]="product.productPrice"
                 name="productPrice"
                 >
                 
        </div>
      </div>

  
      <div class="mb-3">
        <div class="form-group">
          <label for="exampleInputPassword1">Fecha</label>
          <input type="date" 
                 class="form-control" 
                 id="exampleInputPassword1" 
                 [(ngModel)]="product.dateCreated"
                 name="dateCreated" >
        </div>
      </div>

      
  
      <div class="mb-3">
        <select class="form-select" aria-label="Default select example">
          <option >Categoria</option>
          <option  *ngFor="let productCategory of productCategories" 
                   [value]="productCategory.categoryId" 
                  
                   name="productCategory">
                   {{productCategory.categoryName}}</option>
        </select>
      </div>
  
      <div class="mb-3">
        <div class="form-group">
          <label for="exampleInputPassword1">Foto del producto</label>
          <input type="file" 
                 class="form-control" 
                 id="exampleInputPassword1" 
                 >
        </div>
      </div>


      <button type="submit" class="btn btn-primary">Añadir producto</button>
    </div>
  </form>
  </div>