


  <!-- <div class="logo-section" style="margin-bottom: 20px;">
    <div class="logo-text">Carolina Colonia<br></div>
  </div> -->


  <!-- <div class="nav-bar  " style="background-color: #0a4175e0;">
  <a href="/products" class="link-block w-inline-block">
    <div class="nav-bar-link" style="color: aliceblue;" >PRODUCTOS</div>
  </a>
  <a href="/home" class="link-block w-inline-block">
    <div class="nav-bar-link" style="color: aliceblue;" >HOME</div>
  </a>
  
  <a routerLink="/contact"class="link-block w-inline-block">
    <div class="nav-bar-link" style="color: aliceblue;">CONTACTANOS</div>
  </a>
  <a  routerLink="/userLogIn" class="link-block w-inline-block">
    <div class="nav-bar-link" style="color: aliceblue;">INGRESAR</div>
  </a>
  <a  routerLink="/cart" class="link-block w-inline-block">
    <div class="nav-bar-link" style="color: aliceblue;">CARRITO</div>
  </a>
</div>
<div> -->

<div>
  <div class="div-block-22">
    <div>
      <form action="/search" class="search-2-w-form">
        <input [(ngModel)]="filters.keyword" 
               name="keyword"
               (input)="displayProducts()"
               type="search" 
               class="search-input-w-input" 
               maxlength="256" name="query" 
               placeholder="Buscar por Nombre" 
               id="search" 
               >
  
        <input type="button" value="Buscar" class="w-button">
      </form>

     




    </div>
    <a href="/products" class="link-block w-inline-block" >
      <div class="nav-bar-link" style="text-transform: uppercase;" ><a routerLink="/productList" type="button" class="btn btn-success">Añadir</a></div>
    </a>
  </div>
  
  <!-- <div class="nav-bar" style="background-color: rgba(255, 255, 255, 0.349);" >

    <a  *ngFor="let category of productCategories"  routerLink="/productCategories/{{category.categoryId}}" class="link-block w-inline-block"  >
      <div class="nav-bar-link" style="text-transform: uppercase;" >{{category.categoryName}}</div>
    </a>
  </div> -->

</div>



<div class="bg-white">

  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
  
    <div class="alert alert-dark text-center" role="alert" *ngIf="products.length ===0" >
      <h4 class="alert-heading">OH NO!</h4>
      <p>Lo sentimos pero creemos que el producto que esta buscando podria no estar en inventario .</p>
      <hr>
      <p class="mb-0">Si necesita mas informacion sobre un producto  especifico y no lo encuentra en nustra pagina no dude en concactarnos a carolinacolonia@gmail.com.</p>
    </div>


    <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">


      <a style=" text-decoration: none;" href="#" class="group"  *ngFor="let tempProduct of products"  routerLink="/products/{{tempProduct.productId}}">
        <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
          <img src="{{tempProduct.imageURl}}" alt="Hand holding black machined steel mechanical pencil with brass tip and top." class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">{{tempProduct.productName}}</h3>
      
        <p class="mt-1 text-lg font-medium text-gray-900" >${{tempProduct.productPrice}}</p>
      </a>

      <!-- More products... -->
    </div>
  </div>
</div>

<!-- Footer -->







