
<body class="body">
  <div class="nav-wrapper">
    <div class="top-banner">
      <div class="top-banner-text">hasta 20% ENdescuENTO en pedidos al por mayor</div>
    </div>
  </div>
  <div class="logo-section">
    <div class="logo-text">Carolina Colonia<br></div>
  </div>

<div>

  
</div>
<div class="div-block-11"></div>
<div>
<div class="div-block-22">
  <div>
    <form action="/search" class="search-2-w-form">
      <input type="search" class="search-input-w-input" maxlength="256" name="query" placeholder="Search…" id="search" required="">
      <input type="submit" value="Buscar" class="w-button">
    </form>
  </div>
</div>
</div>

<div class="nav-bar">
  <a href="/products" class="link-block w-inline-block"  *ngFor="let category of productCategories">
    <div class="nav-bar-link" style="text-transform: uppercase;" routerLink="/productCategories">{{category.categoryName}}</div>
  </a>
  
  <a href="/" class="link-block w-inline-block" >
    <div class="nav-bar-link" style="text-transform: uppercase;"  >HOME</div>
  </a>

  <a href="/products" class="link-block w-inline-block" >
    <div class="nav-bar-link" style="text-transform: uppercase;" ><a routerLink="/productList" type="button" class="btn btn-success">Añadir</a></div>
  </a>

</div>
<div>
  

<section class="gallery-overview-2 wf-section">
<div class="container-13">
  <div class="gallery-wrapper-2">

    <div class="container-13"  *ngFor="let tempProduct of products" >
      <div class="gallery-grid-2"><img src="{{tempProduct.imageURl}}" loading="lazy" id="w-node-_9908ab66-3c10-a3ae-ebcb-5146ed8c37e8-5dda562d" height="400" srcset="{{tempProduct.imageURl}}  500w, {{tempProduct.imageURl}}  800w, {{tempProduct.imageURl}} 1080w, {{tempProduct.imageURl}} 1080w" sizes="(max-width: 479px) 95vw, (max-width: 767px) 45vw, (max-width: 991px) 344px, 286.65625px" alt="" class="gallery-image-2 shadow-two">
        <div id="w-node-_9908ab66-3c10-a3ae-ebcb-5146ed8c37e9-5dda562d" class="div-block-26">
          <div class="div-block-25">
            <div class="text-block-9">{{tempProduct.productName}}</div>
            <div>
              <a href="#" class="link-block-5 w-inline-block">
                <div class="text-block-10">Ver detalles.</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
</div>

<footer class="text-center text-lg-start bg-white text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->



