

<body class="body">
    <div class="nav-wrapper">
      <div class="top-banner">
        <div class="top-banner-text">hasta 20% ENdescuENTO en pedidos al por mayor</div>
      </div>
    </div>


    <div class="logo-section" style="margin-bottom: 20px;">
      <div class="logo-text">Carolina Colonia<br></div>
    </div>


    <div class="nav-bar  " style="background-color: #0a4175e0;">
      <a href="/products" class="link-block w-inline-block">
        <div class="nav-bar-link" style="color: aliceblue;" >PRODUCTOS</div>
      </a>
      <a href="/home" class="link-block w-inline-block">
        <div class="nav-bar-link" style="color: aliceblue;" >HOME</div>
      </a>
      
      <a routerLink="/contact"class="link-block w-inline-block">
        <div class="nav-bar-link" style="color: aliceblue;">CONTACTANOS</div>
      </a>
      <a  routerLink="/userLogIn" class="link-block w-inline-block">
        <div class="nav-bar-link" style="color: aliceblue;">INGRESAR</div>
      </a>
      <a  routerLink="/cart" class="link-block w-inline-block">
        <div class="nav-bar-link" style="color: aliceblue ;" >CARRITO <span style="color: rgb(242, 67, 67); background-color: aliceblue; padding: 1px 6px; border-radius: 10%;">{{totalQuantity}}</span></div>
      </a>
    </div>
    <div>






    <main class="mx-auto max-w-2xl px-4 pt-16 pb-24 sm:px-6 lg:max-w-7xl lg:px-8">
     

      <form class="mt-12 lg:grid lg:grid-cols-12 lg:items-start lg:gap-x-12 xl:gap-x-16">
        <section aria-labelledby="cart-heading" class="lg:col-span-7">

          <!-- <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Shopping Cart</h2> -->
            <div class="max-w-screen-xl px-0 py-0 mx-auto sm:px-6 sm:py-2 lg:px-8">
              <div class="max-w-3xl mx-auto">
                <div class="mt-8">
      
                 




                  
                    <div class="flex items-center" *ngFor="let tempCartComponent of cartItems" >
                      <img
                        src="https://images.unsplash.com/photo-1618354691373-d851c5c3a990?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=830&q=80"
                        alt=""
                        class="object-cover w-16 h-16 rounded"
                      />
          
                      <div class="ml-4">
                        <h3 class="text-sm text-gray-900">Basic Tee 6-Pack</h3>
          
                        <dl class="mt-0.5 space-y-px text-[10px] text-gray-600">
                          <div>
                            <dt class="inline">Size:</dt>
                            <dd class="inline">XXS</dd>
                          </div>
          
                          <div>
                            <dt class="inline">Color:</dt>
                            <dd class="inline">White</dd>
                          </div>
                        </dl>
                      </div>
          
                      <div class="flex items-center justify-end flex-1 gap-2">
                        <form>
                          <label for="Line1Qty" class="sr-only"> Quantity </label>
          
                          <input
                            type="number"
                            min="1"
                            value="1"
                            id="Line1Qty"
                            class="h-8 w-12 rounded border-gray-200 bg-gray-50 p-0 text-center text-xs text-gray-600 [-moz-appearance:_textfield] focus:outline-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none"
                          />
                        </form>
          
                        <button class="text-gray-600 transition hover:text-red-600">
                          <span class="sr-only">Remove item</span>
          
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-4 h-4"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                            />
                          </svg>
                        </button>
                      </div>
                     </div>
                    
          

                  
        
                </div>
              </div>
            </div>
        </section>

        <!-- Order summary -->
        <section aria-labelledby="summary-heading" class="mt-16 rounded-lg bg-gray-50 px-4 py-6 sm:p-6 lg:col-span-5 lg:mt-0 lg:p-8">
          <h2 id="summary-heading" class="text-lg font-medium text-gray-900">Order summary</h2>

          <dl class="mt-6 space-y-4">
            <div class="flex items-center justify-between">
              <dt class="text-sm text-gray-600">Subtotal</dt>
              <dd class="text-sm font-medium text-gray-900">$99.00</dd>
            </div>
            <div class="flex items-center justify-between border-t border-gray-200 pt-4">
              <dt class="flex items-center text-sm text-gray-600">
                <span>Shipping estimate</span>
                <a href="#" class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500">
                  <span class="sr-only">Learn more about how shipping is calculated</span>
                  <!-- <QuestionMarkCircleIcon class="h-5 w-5" aria-hidden="true" /> -->
                </a>
              </dt>
              <dd class="text-sm font-medium text-gray-900">$5.00</dd>
            </div>
            <div class="flex items-center justify-between border-t border-gray-200 pt-4">
              <dt class="flex text-sm text-gray-600">
                <span>Tax estimate</span>
                <a href="#" class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500">
                  <span class="sr-only">Learn more about how tax is calculated</span>
                  <!-- <QuestionMarkCircleIcon class="h-5 w-5" aria-hidden="true" /> -->
                </a>
              </dt>
              <dd class="text-sm font-medium text-gray-900">$8.32</dd>
            </div>
            <div class="flex items-center justify-between border-t border-gray-200 pt-4">
              <dt class="text-base font-medium text-gray-900">Order total</dt>
              <dd class="text-base font-medium text-gray-900">$112.32</dd>
            </div>
          </dl>

          <div class="mt-6">
            <button type="submit" class="w-full rounded-md border border-transparent bg-indigo-600 py-3 px-4 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50">Checkout</button>
          </div>
        </section>
      </form>

      <!-- Related products -->
      
    </main>
    










      
  
  
  