<div class="leading-loose md:flex md:justify-center mb-6">

    <form [formGroup]="checkOutFormGroup"
           (ngSubmit)="onSubmit()"
          class="max-w-xl m-4 p-10 bg-white rounded shadow-xl">

        <p class="text-gray-800 font-medium">Customer information</p>

        <div formGroupName="custumer">
            <div class="">
                <label class="block text-sm text-gray-00" for="cus_name">Name</label>
                <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" 
                       id="cus_name" 
                       formControlName="name" 
                       type="text"
                       required="" 
                       placeholder="Your Name"
                       aria-label="Name">
            </div>
            <div class="mt-2">
                <label class="block text-sm text-gray-600" for="cus_email">Email</label>
                <input 
                        class="w-full px-2  py-2 text-gray-700 bg-gray-200 rounded" 
                        id="cus_email" 
                        formControlName="email"
                        type="text" 
                        required="" 
                        placeholder="Your Email" 
                        aria-label="Email">
            </div>
        </div>
          
            
        <div formGroupName="shippingInfo">

            <div class="mt-2">
                <label class=" block text-sm text-gray-600" for="cus_email">Address</label>
                <input 
                       class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" 
                       formControlName="address"
                       id="cus_email" 
                       name="address" 
                       type="text"
                       required="" 
                       placeholder="Street" 
                       aria-label="Address">
            </div>
            <div class="mt-2">
                <label class="text-sm block text-gray-600" for="cus_email">City</label>
                <input 
                       class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" 
                       formControlName="city"
                       id="cus_email" name="City" 
                       type="text"
                       required="" 
                       placeholder="City" 
                       aria-label="City">
            </div>
            <div class="inline-block mt-2 w-1/2 pr-1">
                <label class="block text-sm text-gray-600" for="cus_email">Country</label>
                <input 
                       class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_email" name="Country" type="text"
                       formControlName="country"
                       required="" 
                       placeholder="Country" 
                       aria-label="Email">
            </div>
            <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
                <label class="block text-sm text-gray-600" for="cus_email">Zip</label>
                <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" 
                       formControlName="zipCode"
                       id="zip-code" 
                       name="zip-code" 
                       type="text"
                       required="" 
                       placeholder="Zip" 
                       aria-label="Email">
            </div>

        </div>


            

        
     
        <p class="mt-4 text-gray-800 font-medium">Payment information</p>
        <div class="">
            <label class="block text-sm text-gray-600" for="cus_name">Card</label>
            <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_name" name="text" type="text"
                required="" placeholder="Card Number MM/YY CVC" aria-label="Name">
        </div>
        <div class="inline-block mt-2 w-1/2 pr-1">
            <label class="hidden block text-sm text-gray-600" for="cus_email">Expiration data</label>
            <!-- <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_email" name="cus_email" type="text" required="" placeholder="fecha de caducidad" aria-label="Email"> -->
            <select name='expireMM' id='expireMM'>
                <option value=''>Month</option>
                <option value='01'>January</option>
                <option value='02'>February</option>
                <option value='03'>March</option>
                <option value='04'>April</option>
                <option value='05'>May</option>
                <option value='06'>June</option>
                <option value='07'>July</option>
                <option value='08'>August</option>
                <option value='09'>September</option>
                <option value='10'>October</option>
                <option value='11'>November</option>
                <option value='12'>December</option>
            </select>
            <select name='expireYY' id='expireYY'>
                <option value=''>Year</option>
                <option value='20'>2020</option>
                <option value='21'>2021</option>
                <option value='22'>2022</option>
                <option value='23'>2023</option>
                <option value='24'>2024</option>
            </select>
            <input class="inputCard" type="hidden" name="expiry" id="expiry" maxlength="4" />
        </div>
        <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
            <label class="hidden block text-sm text-gray-600" for="cus_email">Security code</label>
            <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_email" name="cus_email"
                type="text" required="" placeholder="codigo de seguridad" aria-label="Email">
        </div>
        <div class="mt-4">
            <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
                type="submit" >$3.00</button>
        </div>
    </form>
</div>