
<body class="body">
    <!-- <div class="nav-wrapper">
      <div class="top-banner">
        <div class="top-banner-text">hasta 20% ENdescuENTO en pedidos al por mayor</div>
      </div>
    </div> -->
    <div class="logo-section">
      <div class="logo-text">Carolina Colonia<br></div>
    </div>
    <div class="nav-bar">
      <a href="/products" class="link-block w-inline-block">
        <div class="nav-bar-link">PRODUCTOS</div>
      </a>
      <a href="/home" class="link-block w-inline-block">
        <div class="nav-bar-link">HOME</div>
      </a>
      <a href="#" class="link-block w-inline-block">
        <div class="nav-bar-link">HISTORIA</div>
      </a>
      <a href="#" class="link-block w-inline-block">
        <div class="nav-bar-link">CONTACTANOS</div>
      </a>
      <a  routerLink="/userLogIn" class="link-block w-inline-block">
        <div class="nav-bar-link">INGRESAR</div>
      </a>
      <a  routerLink="/cart" class="link-block w-inline-block">
        <div class="nav-bar-link">CARRITO</div>
      </a>
    </div>
   <div>
    



  