<div class="nav-wrapper">
  <div class="top-banner">
    <div class="top-banner-text">hasta 20% ENdescuENTO en pedidos al por mayor</div>
  </div>
</div>

<body class="body">
    <!-- <div class="nav-wrapper">
      <div class="top-banner">
        <div class="top-banner-text">hasta 20% ENdescuENTO en pedidos al por mayor</div>
      </div>
    </div> -->
    <div class="logo-section" style="margin-bottom: 20px;">
      <div class="logo-text">Carolina Colonia<br></div>
    </div>
    <div class="nav-bar" style="background-color: rgba(130, 132, 134, 0.169);">
      <a href="/products" class="link-block w-inline-block">
        <div class="nav-bar-link">PRODUCTOS</div>
      </a>
      <a href="/home" class="link-block w-inline-block">
        <div class="nav-bar-link">HOME</div>
      </a>
      <a href="#" class="link-block w-inline-block">
        <div class="nav-bar-link">HISTORIA</div>
      </a>
      <a href="#" class="link-block w-inline-block">
        <div class="nav-bar-link">CONTACTANOS</div>
      </a>
      <a  routerLink="/userLogIn" class="link-block w-inline-block">
        <div class="nav-bar-link">INGRESAR</div>
      </a>
      <a  routerLink="/cart" class="link-block w-inline-block">
        <div class="nav-bar-link">CARRITO</div>
      </a>
    </div>
   <div>

    <body class="body">
      <div>
        <div>
          <header class="uui-section_heroheader01">
            <div class="uui-page-padding">
              <div class="uui-container-large"></div>
            </div>
          </header>
        </div>
        <div>
          <header class="uui-section_heroheader02">
            <div class="uui-page-padding">
              <div class="uui-container-large"></div>
            </div>
          </header>
        </div>
      </div>
      <div >
        <div class="kutup-section-3 wf-section" style="background-color: rgba(0, 213, 255, 0.038);">
          <div class="kutup-large-container-4">
            <div class="kutup-features-grid-2">
              <div id="w-node-_6256f945-cfba-af85-186f-7f518c4e4448-bdc8348b">
                <h3 class="kutup-display-6">Fast and powerful design controls.</h3>
                <div class="kutup-divider-60px-2"></div>
                <div>
                  <div class="kutup-featrues-flex-2">
                    <div class="kutup-features-line-block-2"><img src="/assets/icons/handshake_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="30" alt="">
                      <div>Web Presence</div>
                    </div>
                    <div class="kutup-features-line-block-2"><img src="/assets/icons/handshake_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="30" alt="">
                      <div class="text-block-12">Responsive Design</div>
                    </div>
                    <div class="kutup-features-line-block-2"><img src="/assets/icons/handshake_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="30" alt="">
                      <div>Webflow Library</div>
                    </div>
                    <div class="kutup-features-line-block-2"><img src="/assets/icons/handshake_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="30" alt="">
                      <div>Customer Support</div>
                    </div>
                  </div>
                </div>
                <div class="kutup-divider-60px-2"></div>
                <a href="#" class="kutup-button-green-2 w-button">View on Designer</a>
              </div><img src="/assets/images/17f880504c63ea1bb5059ca08397d9fe (1).jpg" loading="lazy" id="w-node-_6256f945-cfba-af85-186f-7f518c4e4461-bdc8348b" sizes="(max-width: 479px) 90vw, (max-width: 991px) 77vw, 38vw" srcset="assets/images/17f880504c63ea1bb5059ca08397d9fe (1).jpg 500w,assets/images/17f880504c63ea1bb5059ca08397d9fe 800w,assets/images/17f880504c63ea1bb5059ca08397d9fe 1080w,  assets/images/17f880504c63ea1bb5059ca08397d9fe 1500w" alt="" class="kutup-photo-wrapper-3">
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="kutup-testimonials-section wf-section">
          <div class="kutup-medium-container-2">
            <div class="kutup-max-w-width-640px-2">
              <div class="kutup-small-top-text-5">Testimonials</div>
              <div class="kutup-divider-30px-4"></div>
            </div>
            <div class="kutup-client-grid">
              <div class="kutup-client-wrapper-2">
                <div class="kutup-start-flex"><img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image"><img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image"><img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image"><img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class=""><img src="images/icons8-star-240.png" loading="lazy" width="20" alt="" class="kutup-star-image"></div>
                <div>“It’s not about ideas. It’s about making ideas happen.&quot;</div>
                <div class="kutup-divider-20px-2"></div>
                <h4 class="kutup-author-title">John Doe, Kutup Founder</h4>
              </div>
              <div class="kutup-client-wrapper-2">
                <div class="kutup-start-flex"><img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image"><img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image"><img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image"><img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class=""><img src="images/icons8-star-240.png" loading="lazy" width="20" alt="" class="kutup-star-image"></div>
                <div>“It’s not about ideas. It’s about making ideas happen.&quot;</div>
                <div class="kutup-divider-20px-2"></div>
                <h4 class="kutup-author-title">John Doe, Kutup Founder</h4>
              </div>
              <div class="kutup-client-wrapper-2">
                <div class="kutup-start-flex"><img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image"><img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image"><img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image"><img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class=""><img src="images/icons8-star-240.png" loading="lazy" width="20" alt="" class="kutup-star-image"></div>
                <div>“It’s not about ideas. It’s about making ideas happen.&quot;</div>
                <div class="kutup-divider-20px-2"></div>
                <h4 class="kutup-author-title">John Doe, Kutup Founder</h4>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="kutup-section-3 wf-section">
          <div class="kutup-large-container-4">
            <div class="kutup-max-w-width-640px-2">
              <div class="kutup-small-top-text-5">Client Overview</div>
              <h2 class="kutup-display-7">We are blessed to work with leading brands.</h2>
            </div>
            <div class="kutup-divider-40px-2"></div>
            <div>
              <div class="kutup-logo-grid-2">
                <div id="w-node-a1321c92-d222-1101-9819-47d2986a9f0b-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f1a4af4982e3_logo-2.png" loading="lazy" width="150" id="w-node-a1321c92-d222-1101-9819-47d2986a9f0c-bdc8348b" alt="" class="kutup-logo-image-2"></div>
                <div id="w-node-a1321c92-d222-1101-9819-47d2986a9f0b-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f1a4af4982e3_logo-2.png" loading="lazy" width="150" id="w-node-a1321c92-d222-1101-9819-47d2986a9f0c-bdc8348b" alt="" class="kutup-logo-image-2"></div>
                <div id="w-node-a1321c92-d222-1101-9819-47d2986a9f0d-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f1a75b4982de_logo-5.png" loading="lazy" id="w-node-a1321c92-d222-1101-9819-47d2986a9f0e-bdc8348b" width="150" alt="" class="kutup-logo-image-2"></div>
                <div id="w-node-a1321c92-d222-1101-9819-47d2986a9f0f-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f159dc4982e5_logo-1.png" loading="lazy" width="140" id="w-node-a1321c92-d222-1101-9819-47d2986a9f10-bdc8348b" alt="" class="kutup-logo-image-2"></div>
                <div id="w-node-a1321c92-d222-1101-9819-47d2986a9f11-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f155a94982e0_logo-6.png" loading="lazy" width="170" id="w-node-a1321c92-d222-1101-9819-47d2986a9f12-bdc8348b" alt="" class="kutup-logo-image-2"></div>
                <div id="w-node-a1321c92-d222-1101-9819-47d2986a9f13-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f118164982dc_logo-3.png" loading="lazy" width="150" id="w-node-a1321c92-d222-1101-9819-47d2986a9f14-bdc8348b" alt="" class="kutup-logo-image-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    

    </body>



    <footer class="text-center text-lg-start bg-white text-muted" style="margin-top: -100px;">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <!-- <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div> -->
        <!-- Left -->
    
        <!-- Right -->
        <div>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
    
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3 text-secondary"></i>Company name
              </h6>
              <p>
                Here you can use rows and columns to organize your footer content. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit.
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Products
              </h6>
              <p>
                <a href="#!" class="text-reset">Angular</a>
              </p>
              <p>
                <a href="#!" class="text-reset">React</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Vue</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Laravel</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Useful links
              </h6>
              <p>
                <a href="#!" class="text-reset">Pricing</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Settings</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Orders</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Help</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
              <p>
                <i class="fas fa-envelope me-3 text-secondary"></i>
                info@example.com
              </p>
              <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    








    