

  <div class="logo-section">
    <div class="logo-text">Carolina Colonia<br></div>
  </div>

<div  class="container" style="margin-top: 50px ;">
    <table   class="table table-hover">
        <thead >
          <tr >
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Ultima actualization</th>
            <th scope="col">Precio</th>
            <th scope="col">disponibles</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tempProduct of products" >
            <th  scope="row">{{tempProduct.productId}}</th>
            <td  >{{tempProduct.productName}}</td>
            <td  >{{tempProduct.description}}</td>
            <td  >{{tempProduct.lastUpdated}}</td>
            <td  >{{tempProduct.productPrice}}</td>
            <td  >{{tempProduct.unitsInStock}}</td>
            <td  ><button type="button" class="btn btn-primary">Eliminar</button></td>
            <td  ><button type="button" class="btn btn-primary">Editar</button></td>
          </tr>

         
        </tbody>
      </table>
      <button type="button" routerLink="/addProduct" class="btn btn-primary">volver</button>
  
  </div>
  <div class="mb-5"></div>
  <div class="mb-5"></div>
