
 <div class="logo-section">
  <div class="logo-text">Carolina Colonia<br></div>
</div>
<div class="nav-bar">
  <a href="/products" class="link-block w-inline-block">
    <div class="nav-bar-link">PRODUCTOS</div>
  </a>
  <a href="/home" class="link-block w-inline-block">
    <div class="nav-bar-link">HOME</div>
  </a>
  <a href="#" class="link-block w-inline-block">
    <div class="nav-bar-link">HISTORIA</div>
  </a>
  <a href="#" class="link-block w-inline-block">
    <div class="nav-bar-link">CONTACTANOS</div>
  </a>
  <a href="#" class="link-block w-inline-block">
    <div class="nav-bar-link">FICHA TECNICA</div>
  </a>
</div>
<div>
<div>



<div class="logo-section">
  <h1 class="text-center" style="margin-top: 20px ;" >Inventario</h1>
</div>

<div class="container">
  <button type="button" class="btn btn-primary" mat-raised-button routerLink="/addProduct" ><span  >Agregar producto</span></button>
</div>



  <div class="container" style="margin-top: 50px ;">
    <div class="form-outline mb-4">
      <input type="search" class="form-control" id="datatable-search-input">
      <label class="form-label" for="datatable-search-input">Search</label>
    </div>
  </div>
  
  <div id="datatable">

    <div  class="container">
      <table   class="table table-hover">
          <thead >
            <tr >
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Referencia</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Ultima actualization</th>
              <th scope="col">Precio</th>
              <th scope="col">disponibles</th>
              <th scope="col">Mostrar</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tempProduct of products" >
              <th  scope="row">{{tempProduct.productId}}</th>
              <td  >{{tempProduct.productName}}</td>
              <td  >{{tempProduct.productReference}}</td>
              <td  >{{tempProduct.description}}</td>
              <td  >{{tempProduct.lastUpdated}}</td>
              <td  >{{tempProduct.productPrice}}</td>
              <td  >{{tempProduct.unitsInStock}}</td>
              <td  >{{tempProduct.displayProduct}}</td>
              <td  ><button type="button" class="btn btn-primary"  routerLink="/editProduct/{{tempProduct.productId}}">Editar</button></td>
              <td  ><button type="button" class="btn btn-danger" (click)="deleteProduct(tempProduct.productId)">Eliminar</button></td>
             
            </tr>
  
           
          </tbody>
        </table>
    
    </div>
    <div class="mb-5"></div>
    <div class="mb-5"></div>



    

  </div>


