
<div > <img src=""></div>








<div>
</div>
<div class="div-block-11"></div>
<div>
<div class="div-block-22">
  <div>
    <form action="/search" class="search-2-w-form">
      <input type="search" class="search-input-w-input" maxlength="256" name="query" placeholder="Search…" id="search" required="">
      <input type="submit" value="Buscar" class="w-button">
    </form>
  </div>
</div>
</div>

<div class="nav-bar">
  <a href="/products" class="link-block w-inline-block">
    <div class="nav-bar-link">JEANS</div>
  </a>
  <a href="/home" class="link-block w-inline-block">
    <div class="nav-bar-link">CAMISAS</div>
  </a>
  <a href="#" class="link-block w-inline-block">
    <div class="nav-bar-link">CALZADO</div>
  </a>

</div>
<div>

<section class="gallery-overview-2 wf-section">
<div class="container-13">
  <div class="gallery-wrapper-2">


    <div id="w-node-_31cf0e73-deea-2083-e764-fe4d9e08d7e5-5dda562d" class="gallery-block-2">
      <div class="gallery-grid-2"><img src="/assets/images/image1CarolinaEcomerce.jpg" loading="lazy" id="w-node-_9908ab66-3c10-a3ae-ebcb-5146ed8c37e8-5dda562d" height="400" srcset="/assets/images/image1CarolinaEcomerce.jpg  500w, /assets/images/image1CarolinaEcomerce.jpg  800w, /assets/images/image1CarolinaEcomerce.jpg 1080w, /assets/images/image1CarolinaEcomerce.jpg 1080w" sizes="(max-width: 479px) 95vw, (max-width: 767px) 45vw, (max-width: 991px) 344px, 286.65625px" alt="" class="gallery-image-2 shadow-two">
        <div id="w-node-_9908ab66-3c10-a3ae-ebcb-5146ed8c37e9-5dda562d" class="div-block-26">
          <div class="div-block-25">
            <div class="text-block-9">Description del productos.</div>
            <div>
              <a href="#" class="link-block-5 w-inline-block">
                <div class="text-block-10">Ver detalles.</div>
              </a>
              </div>
            </div>
          </div>
        </div>
    </div>

    
    <div class="container-13">






      
      <div class="gallery-grid-2"><img src="/assets/images/image1CarolinaEcomerce.jpg" loading="lazy" id="w-node-_9908ab66-3c10-a3ae-ebcb-5146ed8c37e8-5dda562d" height="400" srcset="/assets/images/image1CarolinaEcomerce.jpg  500w, /assets/images/image1CarolinaEcomerce.jpg  800w, /assets/images/image1CarolinaEcomerce.jpg 1080w, /assets/images/image1CarolinaEcomerce.jpg 1080w" sizes="(max-width: 479px) 95vw, (max-width: 767px) 45vw, (max-width: 991px) 344px, 286.65625px" alt="" class="gallery-image-2 shadow-two">
        <div id="w-node-_9908ab66-3c10-a3ae-ebcb-5146ed8c37e9-5dda562d" class="div-block-26">
          <div class="div-block-25">
            <div class="text-block-9">Description del productos.</div>
            <div>
              <a href="#" class="link-block-5 w-inline-block">
                <div class="text-block-10">Ver detalles.</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="w-node-af799f0a-bd69-28e4-5c23-70a93aee8149-5dda562d">
      <div class="gallery-grid-2"><img src="/assets/images/image1CarolinaEcomerce.jpg" loading="lazy" id="w-node-_9908ab66-3c10-a3ae-ebcb-5146ed8c37e8-5dda562d" height="400" srcset="/assets/images/image1CarolinaEcomerce.jpg  500w, /assets/images/image1CarolinaEcomerce.jpg  800w, /assets/images/image1CarolinaEcomerce.jpg 1080w, /assets/images/image1CarolinaEcomerce.jpg 1080w" sizes="(max-width: 479px) 95vw, (max-width: 767px) 45vw, (max-width: 991px) 344px, 286.65625px" alt="" class="gallery-image-2 shadow-two">
        <div id="w-node-_03130421-40da-94df-68fc-ade47abfb8f3-5dda562d" class="div-block-26">
          <div class="div-block-25">
            <div class="text-block-9">Description del productos.</div>
            <div>
              <a href="#" class="link-block-5 w-inline-block">
                <div class="text-block-10">Ver detalles.</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="w-node-_9ada2c15-3819-ddbb-ac6c-faf1e5ba3b41-5dda562d">
      <div class="gallery-grid-2"><img src="/assets/images/image1CarolinaEcomerce.jpg" loading="lazy" id="w-node-_9908ab66-3c10-a3ae-ebcb-5146ed8c37e8-5dda562d" height="400" srcset="/assets/images/image1CarolinaEcomerce.jpg  500w, /assets/images/image1CarolinaEcomerce.jpg  800w, /assets/images/image1CarolinaEcomerce.jpg 1080w, /assets/images/image1CarolinaEcomerce.jpg 1080w" sizes="(max-width: 479px) 95vw, (max-width: 767px) 45vw, (max-width: 991px) 344px, 286.65625px" alt="" class="gallery-image-2 shadow-two">
        <div id="w-node-bf73f767-e030-31e9-d3e1-51f39e64f689-5dda562d" class="div-block-26">
          <div class="div-block-25">
            <div class="text-block-9">Description del productos.</div>
            <div>
              <a href="#" class="link-block-5 w-inline-block">
                <div class="text-block-10">Ver detalles.</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div id="w-node-cd812ee6-c8fe-f434-6a31-2761f39c4c59-5dda562d">
      <div class="gallery-grid-2"><img src="/assets/images/image1CarolinaEcomerce.jpg" loading="lazy" id="w-node-_9908ab66-3c10-a3ae-ebcb-5146ed8c37e8-5dda562d" height="400" srcset="/assets/images/image1CarolinaEcomerce.jpg  500w, /assets/images/image1CarolinaEcomerce.jpg  800w, /assets/images/image1CarolinaEcomerce.jpg 1080w, /assets/images/image1CarolinaEcomerce.jpg 1080w" sizes="(max-width: 479px) 95vw, (max-width: 767px) 45vw, (max-width: 991px) 344px, 286.65625px" alt="" class="gallery-image-2 shadow-two">
        <div id="w-node-cd812ee6-c8fe-f434-6a31-2761f39c4c5c-5dda562d" class="div-block-26">
          <div class="div-block-25">
            <div class="text-block-9">Description del productos.</div>
            <div>
              <a href="#" class="link-block-5 w-inline-block">
                <div class="text-block-10">Ver detalles.</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div id="w-node-e388ef6e-6755-4abc-0b42-6df5b6abd3e5-5dda562d">
      <div class="gallery-grid-2"><img src="/assets/images/image1CarolinaEcomerce.jpg" loading="lazy" id="w-node-_9908ab66-3c10-a3ae-ebcb-5146ed8c37e8-5dda562d" height="400" srcset="/assets/images/image1CarolinaEcomerce.jpg  500w, /assets/images/image1CarolinaEcomerce.jpg  800w, /assets/images/image1CarolinaEcomerce.jpg 1080w, /assets/images/image1CarolinaEcomerce.jpg 1080w" sizes="(max-width: 479px) 95vw, (max-width: 767px) 45vw, (max-width: 991px) 344px, 286.65625px" alt="" class="gallery-image-2 shadow-two">
        <div id="w-node-e388ef6e-6755-4abc-0b42-6df5b6abd3e8-5dda562d" class="div-block-26">
          <div class="div-block-25">
            <div class="text-block-9">Description del productos.</div>
            <div>
              <a href="#" class="link-block-5 w-inline-block">
                <div class="text-block-10">Ver detalles.</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


<section class="footer-dark wf-section">
  <div class="container-5">
    <div class="footer-wrapper">
      <a href="#" class="footer-brand-2 w-inline-block"><img src="https://carolinacolonia.com/wp-content/uploads/2019/07/carolina-colonia.png" loading="lazy" alt=""></a>
      <div class="footer-content">
        <div id="w-node-bd33f580-27d6-a932-0dec-ac6258ab28b5-bdc8348b" class="footer-block">
          <div class="title-small">Company</div>
          <a href="#" class="footer-link">How it works</a>
          <a href="#" class="footer-link">Pricing</a>
          <a href="#" class="footer-link">Docs</a>
        </div>
        <div id="w-node-bd33f580-27d6-a932-0dec-ac6258ab28be-bdc8348b" class="footer-block">
          <div class="title-small">Resources</div>
          <a href="#" class="footer-link">Blog post name list goes here</a>
          <a href="#" class="footer-link">Blog post name list goes here</a>
          <a href="#" class="footer-link">Blog post name list goes here</a>
          <a href="#" class="footer-link">See all resources &gt;</a>
        </div>
        <div id="w-node-bd33f580-27d6-a932-0dec-ac6258ab28c9-bdc8348b" class="footer-block">
          <div class="title-small">About</div>
          <a href="#" class="footer-link">Terms &amp; Conditions</a>
          <a href="#" class="footer-link">Privacy policy</a>
          <div class="footer-social-block">
            <a href="#" class="footer-social-link-2 w-inline-block"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124ac15112aad5_twitter%20small.svg" loading="lazy" alt=""></a>
            <a href="#" class="footer-social-link-2 w-inline-block"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a389912aad8_linkedin%20small.svg" loading="lazy" alt=""></a>
            <a href="#" class="footer-social-link-2 w-inline-block"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a51bf12aae9_facebook%20small.svg" loading="lazy" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-divider"></div>
  <div class="footer-copyright-center">Copyright © 2021 Company name</div>
</section>




