
  <div>
    <div>
      <section class="hero-heading-right wf-section">
        <div class="container-11">
          <div class="hero-wrapper">
            <div class="hero-split"><img src="images/alejo-reinoso--IlmDnJg5cg-unsplash.jpg" loading="lazy" width="400" srcset="images/alejo-reinoso--IlmDnJg5cg-unsplash-p-500.jpg 500w, images/alejo-reinoso--IlmDnJg5cg-unsplash-p-800.jpg 800w, images/alejo-reinoso--IlmDnJg5cg-unsplash-p-1080.jpg 1080w, images/alejo-reinoso--IlmDnJg5cg-unsplash-p-1600.jpg 1600w, images/alejo-reinoso--IlmDnJg5cg-unsplash-p-2000.jpg 2000w, images/alejo-reinoso--IlmDnJg5cg-unsplash-p-2600.jpg 2600w, images/alejo-reinoso--IlmDnJg5cg-unsplash.jpg 2707w" sizes="(max-width: 479px) 88vw, 400px" alt="" class="shadow-two"></div>
            <div class="hero-split">
              <h1>JEANS DE DOTACION</h1>
              <p class="margin-bottom-24px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt sagittis eros. Quisque quis euismod lorem. Etiam sodales ac felis id interdum.</p>
              <a href="#" class="button-primary w-button">ver porductos</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div>
      <section class="features-list wf-section">
        <div class="container-12">
          <div class="features-wrapper-two">
            <div class="features-left">
              <h3>Features section</h3>
              <p class="features-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt sagittis eros. Quisque quis euismod lorem. Etiam sodales ac felis id interdum.</p>
              <a href="#" class="text-link-arrow-2 w-inline-block">
                <div>Learn more</div>
                <div class="arrow-embed-2 w-embed"><svg width="17" height="17" viewbox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.13 8.5L6.87296 4.24291L5.87067 5.24379L9.129 8.5L5.87067 11.7555L6.87225 12.7571L11.13 8.5Z" fill="currentColor"></path>
                  </svg></div>
              </a>
            </div>
            <ul role="list" class="features-right w-list-unstyled">
              <li class="features-block-two"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a28a812aad9_placeholder%202.svg" loading="lazy" alt="" class="features-image">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt sagittis eros.</p>
              </li>
              <li class="features-block-two"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124ace5e12aae4_portfolio%204%20-%20wide.svg" loading="lazy" alt="" class="features-image">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt sagittis eros.</p>
              </li>
              <li class="features-block-two"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a55c612aae2_portfolio%202%20-%20wide.svg" loading="lazy" alt="" class="features-image">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt sagittis eros.</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <section class="features-table wf-section">
      <div class="container-11">
        <h2 class="centered-heading-2">Tabla de comparación</h2>
        <p class="centered-subheading-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt sagittis eros. Quisque quis euismod lorem.</p>
        <div class="comparison-table">
          <div class="comparison-row-main">
            <h3 class="comparison-title">Otros Jeans</h3>
            <h3 class="comparison-title">Nuestros Jeans</h3>
          </div>
          <div class="comparison-row">
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a1e-bdc8348b" class="comparison-negative">Etiam sodales ac felis id interdum</div>
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a20-bdc8348b" class="comparison-positive">Etiam sodales ac felis id interdum</div>
          </div>
          <div class="comparison-row">
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a23-bdc8348b" class="comparison-negative">Etiam sodales ac felis id interdum</div>
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a25-bdc8348b" class="comparison-positive">Etiam sodales ac felis id interdum</div>
          </div>
          <div class="comparison-row">
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a28-bdc8348b" class="comparison-negative">Etiam sodales ac felis id interdum</div>
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a2a-bdc8348b" class="comparison-positive">Etiam sodales ac felis id interdum</div>
          </div>
          <div class="comparison-row">
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a2d-bdc8348b" class="comparison-negative">Etiam sodales ac felis id interdum</div>
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a2f-bdc8348b" class="comparison-positive">Etiam sodales ac felis id interdum</div>
          </div>
          <div class="comparison-row">
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a32-bdc8348b" class="comparison-negative">Etiam sodales ac felis id interdum</div>
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a34-bdc8348b" class="comparison-positive">Etiam sodales ac felis id interdum</div>
          </div>
          <div class="comparison-row">
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a37-bdc8348b" class="comparison-negative">Etiam sodales ac felis id interdum</div>
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a39-bdc8348b" class="comparison-positive">Etiam sodales ac felis id interdum</div>
          </div>
        </div>
      </div>
    </section>
    <div>
      <section class="testimonial-column-light-2 wf-section">
        <div class="container-11">
          <h2 class="centered-heading-2">CLIENTES SATISFECHOS</h2>
          <div class="testimonial-grid-two-2">
            <div id="w-node-dd8dabb3-99b9-ec13-ea40-67683b5e3804-bdc8348b" class="testimonial-card-two">
              <p class="testimonial-text-two">“Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.”</p>
              <div class="testimonial-info-three"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a28a812aad9_placeholder%202.svg" loading="lazy" alt="" class="testimonial-image">
                <div>
                  <h3 class="testimonial-main-heading">SANDRA<br>GARCIA</h3>
                  <div>VP of Company</div>
                </div>
              </div>
            </div>
            <div id="w-node-dd8dabb3-99b9-ec13-ea40-67683b5e380e-bdc8348b" class="testimonial-card-two">
              <p class="testimonial-text-two">“Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.”</p>
              <div class="testimonial-info-three"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a28a812aad9_placeholder%202.svg" loading="lazy" alt="" class="testimonial-image">
                <div>
                  <h3 class="testimonial-main-heading">Author Name</h3>
                  <div>VP of Company</div>
                </div>
              </div>
            </div>
            <div id="w-node-dd8dabb3-99b9-ec13-ea40-67683b5e3818-bdc8348b" class="testimonial-card-two">
              <p class="testimonial-text-two">“Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.”</p>
              <div class="testimonial-info-three"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a28a812aad9_placeholder%202.svg" loading="lazy" alt="" class="testimonial-image">
                <div>
                  <h3 class="testimonial-main-heading">Author Name</h3>
                  <div>VP of Company</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

