
  <div class="div-block-11"></div>
  <div>
    <section class="hero-heading-left wf-section">
      <div class="container-13">
        <div class="hero-wrapper-2">
          <div class="hero-split-2">
            <h1>Title copy goes here</h1>
            <p class="margin-bottom-24px-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt sagittis eros. Quisque quis euismod lorem. Etiam sodales ac felis id interdum.</p>
          </div>
          <div class="hero-split-2"><img src="/assets/images/CarolinaColoniaPortafolioDigital .jpg" loading="lazy" sizes="100vw" srcset="/assets/images/CarolinaColoniaPortafolioDigital 500w, /assets/images/CarolinaColoniaPortafolioDigital 564w" alt="" class="shadow-two-2"></div>
        </div>
      </div>
    </section>
  </div>
  <div>
    <div>
      <div class="kutup-section wf-section">
        <div class="kutup-large-container">
          <div class="kutup-max-w-width-640px">
            <h2 class="kutup-display-3">Nuestros Socios Comerciales</h2>
          </div>
          <div class="kutup-divider-40px"></div>
          <div>
            <div class="kutup-logo-grid">
              <div id="w-node-_262974ad-08cc-e7bc-5d02-931432a110dd-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f1a4af4982e3_logo-2.png" loading="lazy" width="150" id="w-node-_262974ad-08cc-e7bc-5d02-931432a110de-bdc8348b" alt="" class="kutup-logo-image"></div>
              <div id="w-node-_262974ad-08cc-e7bc-5d02-931432a110df-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f1a75b4982de_logo-5.png" loading="lazy" width="150" id="w-node-_262974ad-08cc-e7bc-5d02-931432a110e0-bdc8348b" alt="" class="kutup-logo-image"></div>
              <div id="w-node-_262974ad-08cc-e7bc-5d02-931432a110e1-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f155a94982e0_logo-6.png" loading="lazy" id="w-node-_262974ad-08cc-e7bc-5d02-931432a110e2-bdc8348b" width="150" alt="" class="kutup-logo-image"></div>
              <div id="w-node-_262974ad-08cc-e7bc-5d02-931432a110e3-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f159dc4982e5_logo-1.png" loading="lazy" width="140" id="w-node-_262974ad-08cc-e7bc-5d02-931432a110e4-bdc8348b" alt="" class="kutup-logo-image"></div>
              <div id="w-node-_262974ad-08cc-e7bc-5d02-931432a110e5-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f1a75b4982de_logo-5.png" loading="lazy" width="170" id="w-node-_262974ad-08cc-e7bc-5d02-931432a110e6-bdc8348b" alt="" class="kutup-logo-image"></div>
              <div id="w-node-_262974ad-08cc-e7bc-5d02-931432a110e7-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f118164982dc_logo-3.png" loading="lazy" width="150" id="w-node-_262974ad-08cc-e7bc-5d02-931432a110e8-bdc8348b" alt="" class="kutup-logo-image"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="features-table wf-section">
      <div class="container-11">
        <h2 class="centered-heading-2">Tabla de comparación</h2>
        <p class="centered-subheading-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt sagittis eros. Quisque quis euismod lorem.</p>
        <div class="comparison-table">
          <div class="comparison-row-main">
            <h3 class="comparison-title">Otros Jeans</h3>
            <h3 class="comparison-title">Nuestros Jeans</h3>
          </div>
          <div class="comparison-row">
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a1e-bdc8348b" class="comparison-negative">Etiam sodales ac felis id interdum</div>
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a20-bdc8348b" class="comparison-positive">Etiam sodales ac felis id interdum</div>
          </div>
          <div class="comparison-row">
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a23-bdc8348b" class="comparison-negative">Etiam sodales ac felis id interdum</div>
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a25-bdc8348b" class="comparison-positive">Etiam sodales ac felis id interdum</div>
          </div>
          <div class="comparison-row">
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a28-bdc8348b" class="comparison-negative">Etiam sodales ac felis id interdum</div>
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a2a-bdc8348b" class="comparison-positive">Etiam sodales ac felis id interdum</div>
          </div>
          <div class="comparison-row">
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a2d-bdc8348b" class="comparison-negative">Etiam sodales ac felis id interdum</div>
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a2f-bdc8348b" class="comparison-positive">Etiam sodales ac felis id interdum</div>
          </div>
          <div class="comparison-row">
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a32-bdc8348b" class="comparison-negative">Etiam sodales ac felis id interdum</div>
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a34-bdc8348b" class="comparison-positive">Etiam sodales ac felis id interdum</div>
          </div>
          <div class="comparison-row">
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a37-bdc8348b" class="comparison-negative">Etiam sodales ac felis id interdum</div>
            <div id="w-node-_418bad88-1dfc-ea93-4ed9-267fce121a39-bdc8348b" class="comparison-positive">Etiam sodales ac felis id interdum</div>
          </div>
        </div>
      </div>
    </section>
    



    <section class="footer-dark wf-section">
      <div class="container-5">
        <div class="footer-wrapper">
          <a href="#" class="footer-brand-2 w-inline-block"><img src="https://carolinacolonia.com/wp-content/uploads/2019/07/carolina-colonia.png" loading="lazy" alt=""></a>
          <div class="footer-content">
            <div id="w-node-bd33f580-27d6-a932-0dec-ac6258ab28b5-bdc8348b" class="footer-block">
              <div class="title-small">Company</div>
              <a href="#" class="footer-link">How it works</a>
              <a href="#" class="footer-link">Pricing</a>
              <a href="#" class="footer-link">Docs</a>
            </div>
            <div id="w-node-bd33f580-27d6-a932-0dec-ac6258ab28be-bdc8348b" class="footer-block">
              <div class="title-small">Resources</div>
              <a href="#" class="footer-link">Blog post name list goes here</a>
              <a href="#" class="footer-link">Blog post name list goes here</a>
              <a href="#" class="footer-link">Blog post name list goes here</a>
              <a href="#" class="footer-link">See all resources &gt;</a>
            </div>
            <div id="w-node-bd33f580-27d6-a932-0dec-ac6258ab28c9-bdc8348b" class="footer-block">
              <div class="title-small">About</div>
              <a href="#" class="footer-link">Terms &amp; Conditions</a>
              <a href="#" class="footer-link">Privacy policy</a>
              <div class="footer-social-block">
                <a href="#" class="footer-social-link-2 w-inline-block"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124ac15112aad5_twitter%20small.svg" loading="lazy" alt=""></a>
                <a href="#" class="footer-social-link-2 w-inline-block"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a389912aad8_linkedin%20small.svg" loading="lazy" alt=""></a>
                <a href="#" class="footer-social-link-2 w-inline-block"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a51bf12aae9_facebook%20small.svg" loading="lazy" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-divider"></div>
      <div class="footer-copyright-center">Copyright © 2021 Company name</div>
    </section>
  </div>